REACT_APP_SMART_CLIENTID=
REACT_APP_SMART_CLIENTSECRET=
REACT_APP_SMART_SCOPE="openid fhirUser profile api:fhir user/Observation.read user/Patient.read user/MedicationRequest.read offline_access launch"